*{
    margin:0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('../imagenes/borde.png');
    background-position: top center; /* Para centrar la imagen */
    background-size: cover;
}
.boton_inicio{
    margin-top: 2rem;
    margin-left: 18rem;
    border-radius: 5px;
    padding: 2px;
    background-color: hsl(0, 64%, 37%);
    
}
.content-formulario {
    color: antiquewhite;
    background-color: rgb(10, 10, 10);
    border-radius: 5%;
    text-align: center;
    margin-top: 3rem;
    height: 32rem;
    width: 30rem;
    margin-left: 25rem;
    border: 1px solid rgb(92, 92, 152);
}

.contenido-frase{
    margin-top: 2rem;
    
}
.formulario{
    margin-top: 2rem;
}

.formulario form{
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 5rem;
    border: 2px solid #00ff;
    border-radius: 5%;
}

.boton_registro{
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border:2px solid #ff7700;
    border-radius: 10px;
}
img{
    width: 5rem;
    display: block;
}

@media screen and (max-width: 480px) {
    body{
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .content-formulario{
        width:90%;
        margin:auto;
        height:70%;
    }
    .formulario{
        height: 60%;
    }
    .boton_inicio{
        background-color: rgb(194, 30, 12);
        padding: 0.5rem 1rem /*1px*/;
        margin-top: 1rem;
        border-radius: 1rem;
    }
    .contenido-frase{
        line-height: 1.5rem;
    }
    .formulario form{
        margin: 1rem auto 0;
        height: 100%;
        width: 90%;
        line-height: 2.5rem;
    }

}
