*{
    margin:0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('../imagenes/borde.png');
    background-position: top center; /* Para centrar la imagen */
}
.boton_inicio{
    margin-top: 2rem;
    margin-left: 18rem;
    border-radius: 5px;
    padding: 2px;
    background-color: hsl(0, 64%, 37%);
    
}
.content-formulario {
    color: antiquewhite;
    background-color: rgb(10, 10, 10);
    border-radius: 5%;
    text-align: center;
    margin-top: 3rem;
    height: 32rem;
    width: 30rem;
    margin-left: 25rem;
    border: 1px solid rgb(92, 92, 152);
}

.contenido-frase{
    margin-top: 2rem;
    
}
.formulario{
    margin-top: 2rem;
}

.formulario form{
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 5rem;
    border: 2px solid #00ff;
    border-radius: 5%;
}

.boton_registro{
    margin-top: 1rem;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
img{
    width: 5rem;
    display: block;
}

@media screen and (max-width: 480px) {
    body{
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
    }

    .content-formulario{
        width:24rem;
        margin-left: 3rem;
    }
    .boton_inicio{
        background-color: rgb(194, 30, 12);
        padding: 1px;
        margin-top: 1rem;
    }
    .contenido-frase{
        line-height: 2rem;
    }
    .formulario form{
        margin: auto;
        margin-top: 1rem;
    }

}