.body_index {
    font-size: 62.5%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/borde.png');
    background-position: top center; /* Para centrar la imagen */
}

.content_index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px; /* Añade espacio entre los elementos hijos */  
}

.form_index {
    padding: 200px;
    border-radius: 600px;
    background-image: url('../imagenes/logo_img.jpeg');
    background-size: 400px 400px;
    background-position: center; /* Para centrar la imagen */
    border-radius: 200px red;
    border: 4px solid red; /* Establece un borde de 2 píxeles de ancho, sólido y de color rojo */
}

.form2_index {
    background-color: #f9f7f7;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    position: relative;
    left: -10px;
}

.p_index{
    font-size: 1.9rem;
    margin: 0;
    color: black;
}

.ul_index li{
    color: rgb(0, 0, 0);
    text-decoration: dotted;
}

.a_index{
    color: blue;
}

.bt_index{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.h2_index {
    color: red;
}

.content_index img {
    display: none;
}
/*---------------------------------------------------------------------------------------------------------------
ARRIBA REFIERE A INDEX*/


/*---------------------------------------------------------------------------------------------------------------
DEBAJO CONTIENE CRACTERISTICAS GENERALES QUE COMPARTEN TODOS LOS HTML*/
html{
    font-size: 62.5%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color:black;
}

header{
    font-weight: 700;
    height: 13rem;
    width: 100%;
    background-image: url(../imagenes/fondo_peli.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.nav_header{
    max-width: 100%;
    display: flex;
    font-size: 2rem;
    margin: 1rem;
    padding: 0rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav_header li{
    color: white;
    text-decoration: none;
    padding: 0.8rem;
}

.section:hover{
    transform: scale(1.1);
    background-color: rgb(230, 4, 4);
}

.section {
    border-color: black;
    border-radius: 1.5rem;
    background-color: black;
    font-size: 1.8rem;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:white;
}


li button{
    padding-right: 1rem;

}

li img{
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 3rem;
}

li button{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    border-radius: 2rem;
    padding: 0.8rem;
    border: none;
    background-color: black;
    color: white;
}

li button:hover{
    transform: scale(1.1);
    background-color: #7D0707;
}

main{
    height: 100%;
    margin-bottom: 5rem;
}

.contain{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

@media only screen and (max-width: 480px) {
    html{
    font-size: 62.5%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    }

    main{
        margin-bottom: 0;
    }

    .content_index {
        display: flex;
        justify-content: center;
        height: 100vh;
        gap: 0; 
        flex-direction: column;
        background-color: white;
    }

    .content_index img{
        display: flex;
        height: 60px;
        width: 60px;
        padding: 0;
        border-radius: 3rem;

    }

    .form_index {
        display: none;
    }

    .body_index {
        background-image: none;
    }

    .form2_index {
        background-color: #f9f7f7;
        padding: 0; 
        border-radius: 10px;
        width: 100%;
        height: 100%;
        left: 0;
        font-family: "Exo 2", sans-serif;
    }

    .form2_index form input{
        font-size: 2rem;
    }

    .form2_index form{
        padding: 2rem 0 2rem 2rem;
    }

    .form2_index form .bt_index{
        margin: 1rem 0;
    }

    .ul_index{
        padding: 0;
    }

    .ul_index li {
        font-family: "Exo 2", sans-serif;
    }

    .h2_index{
        padding-left: 7rem;
    }

    .p_index{
        padding-left: 2rem;
    }

    .content_index .form2_index form .p_index{
        padding-left: 0;
        font-size: 1.6rem;
    }
}


/* -------------------------------------------------------------------------------------------
DEBAJO SECCION DE PELICULA*/
.profile_film{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    width: 75%;
    border: 1px solid #2e2525;
    
}

.contain_film{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.contain_port_pel h1{
    margin-bottom: 4rem;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-bottom: 2rem;
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    background: linear-gradient(50deg, #160950, #0b0128);
    border-radius: 3rem;

}
.contain_film img {
    width: 340px;
    height: auto;
    margin-right: 1%;
}

.description_pel p {
    text-align: justify;
    font-size: 18px;
}

.sec_pel{
    height: 30rem;

}
.sec_pel iframe {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.critique-form h2{
    margin-top: 1%;
    color: white;
    text-align: center;
    font-size: 17px;
}

.critique-form { 
    margin-left: 35%;
    margin: auto;
    margin-top: 40px;
    background-color: none;
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.coments_pel{
    width: 80%;
    background: none;
    padding: 9px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid red;
    font-size: 15px;
    color: white;
    font-family: 'Exo 2';
}

.coments_pel::placeholder{
    color: white;
}

.critique-form .button_pel{
    width: 31.5%;
    background: none;
    border: none;
    padding: 7px;
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.button_pel:hover {
    transform: scale(1.1);

}

.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 5rem;
    position: relative;
    padding: 0 50px 8%;
    color: #ffc904;
}

.label_pelicula [type="radio"]:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.label_pelicula label{
    float: right;
    padding: 0;
    font-size: 50px;
    cursor: pointer;
}

.label_pelicula::before{
    content: "\2606";
    padding-bottom: 8px;
    display: inline-block;
    transition: 0.2s;
}

span{
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 45px;
    font-size: 2rem;
    white-space: nowrap;
    transition: 0.15s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(50%);
}

label:hover span{
    opacity: 1;
    transform: none;
    letter-spacing: 0;
}

.rating input:checked ~ label:before{
    content: "\2605";
    color: orange;
    filter: drop-shadow(0 0 4px);
    transform: rotate(.2turn);
    transition-delay: calc(0.1 * attr(data-idx integer));
}

@media screen and (max-width: 480px) {
    .profile_film{
        padding-left: 0;
        width: 100%;
    }
    .contain_film{
        display: flex;
        flex-direction: column;
    
    }
    .contain_port_pel h1{
        padding-left:2rem;
        padding-top: 2rem;
    }
    .contain_film img{
        height: auto;
        width: 80%;
        padding-left: 5rem;
       
    }
    .description_pel{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sec_pel iframe {
        width: 95%;
        padding-left: 1rem;
    }
    
}
/* -------------------------------------------------------------------------------------------*/

/* perfil.html*/

.nav_header_perfil .titulo {
    display: none;
}

.nav_header_perfil{
    max-width: 100%;
    display: flex;
    font-size: 2rem;
    margin: 1rem;
    padding: 0rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav_header_perfil li{
    color: white;
    text-decoration: none;
    padding: 0.8rem;
}

.perfil{     
    background-color: #000606;
}

.content_perfil{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin:auto;
    width: 80rem;
    background-color: hwb(0 10% 88%);
}
.foto_perfil img{
    width: 10rem;
    height: 10rem;
    border-radius: 30%;
    margin-left: 40%;
    margin-top: 2rem;
    border: solid;
    border-color: hsl(0, 91%, 18%);
}

.boton_foto{
    color: rgb(33, 33, 233);
    background-color: #1e14aa;
    margin-left: 40%;
    margin-top:1rem;
    padding: 8px 10px;
    text-decoration: underline;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
    border-radius:6px;
    border: none;
    cursor: pointer;
    background: none;
    text-decoration: none;
}
.boton_foto:hover{
    border:solid;
    border-color: rgb(13, 0, 255);
    border-radius: 0.7rem;
    
}

#editarFotoPerfil{
    display:none;
    margin-left:12rem ;
}

.edit_perfil{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.btn-custom{
    color: red;
    border-radius: 6px;
    padding:8px 10px;
    background: none;
    border: none;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
}

.btn-custom:hover{
    border:solid;
    border-color: red;
    border-radius: 0.7rem;
    color: #e60606;
}

.data_profile{
    line-height: 2rem;
    padding: 2rem 5rem 10rem 5rem;
    box-sizing: border-box;
}

.modal-content {
    background-color: #7D0707;
    color: #f9f7f7;
    width: 60rem;
    margin-left: 10rem;
    padding: 1rem;
    display: grid;
    margin-bottom: 5rem;
    border-radius:20px ;
}

#editProfileForm label{
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
}
#editProfileForm input{
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;

}

@media screen and (max-width: 480px){

    .nav_header_perfil .imagen_logo{
        display: none;
    }

    .nav_header_perfil .titulo{
        display: flex;
    }

    .nav_header_perfil {
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
    }

    .nav_header_perfil li{
        text-decoration: none;
        list-style-type: none;
        height: 4rem;
    
    }

    .nav_header_perfil li a{
        background-color: #7D0707;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .nav_header_perfil .section {
        background-color: #7D0707 ;
        font-size: 1.4rem;
        height: 4rem;
    }

    .nav_header_perfil .section a{
        font-weight: 400;
        display: inline-block;
        width: 6.5rem;
    }

    .nav_header_perfil li button{
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 300;
        border-radius: 2rem;
        padding: 0.8rem;
        border: none;
        background-color: #7D0707 ;
        color: white;
        font-size: 1.3rem;
    }

    .content_perfil {
        background-color: #f9f7f7;
        width:100%;
        height: auto;
}
    .foto_perfil img{
        border-radius:30%;
}
    .boton_foto{
        margin-left: 60px;

    }
    .data_profile p {
        color: black
    }
    .data_profile h2{
        color: black
    }
    .edit_data form{
        width: 30rem;
        margin-left: 8rem;
        margin-bottom: 5rem;
        color:antiquewhite;
    }
};


/*PERFIL-USUARIO (HTML)-------------------------------------------------------------------------------------------------*/
.body_profileUser{
    background-color: #000606;
}

.content_profile{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin:auto;
    width: 80rem;
    background-color: hwb(0 10% 88%);
}

.foto_profile img{
    width: 10rem;
    height: 10rem;
    border-radius: 30%;
    margin-left: 40%;
    margin-top: 2rem;
    border: solid;
    border-color: hsl(0, 91%, 18%);
}


.boton_follow{
    color: rgb(255, 0, 0);
    border-radius: 6px;
    padding:8px 10px;
    margin-left:60rem;
    background: none;
    cursor: pointer;
    border: none;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
}

.boton_follow:hover{
    border:solid;
    border-color: rgb(55, 0, 255);
    border-radius: 0.7rem;
}
.followers-contain {
    width: 400px;
    margin-left: 5rem;
    margin-bottom:6rem;
    border: 1px solid #1e14aa;
    padding: 2rem;
    
}
.follower-item{
    line-height: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 480px){
    .body_profileUser {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .content_profile{
        width: 100vw;
        height: auto;
        background-color:white;
        
    } 

    .boton_follow{
        margin-left: 38rem;
        color:black;
        background-color: hsl(0, 59%, 46%);
    }
    .boton_follow:hover{
        border-color: #ea2828
    }
    .followers-contain{
        width: 30rem;
        background-color:hsl(0, 49%, 76%);
        
    }

    .followers-contain h2{
        color: black;
    }
    .follower-item{
        color: black;
    }
    .follower-item a{
        color: black
    }

};


    

/*---------------------------------------------------------------------------------------------------
AQUI DEBAJO INICIO/PUBLICAR*/

aside{
    width: 18%;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li h1{
    display: none;
}

.search_icon_mobile{
    display: none;
}

.button_icon{
    display: none;
}

.search_icon{
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
}

.search_icon input[type="text"]{
    width:7.7rem;
    background: none;
    border: none;
    padding-top: 0.3rem;
    font-family: "Exo 2", sans-serif;
    color: white;
    outline: none;
}

.search_icon input[type="text"]::placeholder{
    color: white;
    justify-content: baseline;
    font-family: "Exo 2", sans-serif;
    border: none;
}

.search_icon img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
    border-radius: 0;
}



.contain .redirection{
    max-width: 9rem;
    min-width: 9rem;
    height: auto;
    background-color: red;
    border-radius: 1rem;
    padding: 1rem;
}

aside button{
    width: 8rem;
    margin-top: 1rem;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
    color: red;
    padding: 0.5rem;
    background: none;
    cursor: alias;
    border: none;
}

aside button:hover{
    border:solid;
    border-color: red;
    border-radius: 0.7rem;
}

.navegations section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegations section form {
    display: flex;
    flex-direction: column;
}

.navegations section form textarea{
    background-color: rgb(15, 14, 14);
    color: white;
}

.navegations section form [type="submit"]:hover{
    border:solid;
    border-color: red;
    border-radius: 0.7rem;
}

.navegations section form input[type="submit"]{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: red;
    padding: 0.5rem;
}

.contain .navegations{
    width: 80rem;
    height: 100%;
    background-color: black;
    justify-self: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    
}


.perfil_nombre{
    height: 5rem;
    margin-top: 1rem;
    background-color: rgb(15, 14, 14);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.group img{
    height: 4rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.perfil_nombre .name_perfil{
    margin-top: 1.5rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.perfil_nombre a:hover{
    color: #bdbdbd;
}

.perfil_nombre button{
    margin-left: 1rem;
    padding: 0.5rem;
    height: 3rem;
    margin-top: 1.3rem;
    font-family: "Exo 2", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}

.perfil_nombre button:hover{
    color: #bdbdbd;
}

.perfil_nombre .group{
    display: flex;
    flex-direction: row;
}

.perfil_nombre a{
    margin-right: 0.5rem;
}

.perfil_nombre button img{
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 0;
    margin: 0;
}

.deesc-text{
    padding: 1rem 1.5rem;
    text-align: start;
    word-break: break-all;
    color: white;  
}
h1{
    color: whitesmoke;
    font-size: 1.6rem;
}

p {
    font-size: 1.5rem;
    margin: 0;
    color: whitesmoke;
}



.description{
    height: auto;
    background-color: rgb(15, 14, 14);
    padding-bottom: 1rem ;
    border-bottom: 0.1rem solid white;
}


.comments{
    width: 40rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.comments form input[type="text"]{
    width: 28rem;
    height: 3.5rem;
    font-family: "Exo 2", sans-serif;
    background: none;
    border-radius: 2rem;
    margin: 1rem ;
    padding-left: 2rem;
    color: white;
    border-color: red;
}

.comments form input[type="text"]::placeholder{
    color: whitesmoke;
}

.comments form input[type="submit"]{
    height: auto;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: red;
    padding: 0.5rem;
}

.comments form input[type="submit"]::placeholder{
    font-size: 1.5rem;
}

.comments form input[type="submit"]:hover{
    transform: scale(1.1);
}

.comments form{
    height: 5rem;
}

.users-comments{
    height: auto;
    max-height: 100%;
    background-color: rgb(15, 14, 14);
    margin-top: 1.5rem ;
    border-radius: 1rem;
    border-bottom: 0.1rem;
}

.perfil_nombre_users{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
}

.description_users{
    width: 40rem;
    height: auto;
}

.description_users p{
    padding: 0rem 0.5rem 1rem 0.5rem;
    border-bottom: 0.1rem solid;
    border-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: rgb(204, 199, 199);
}

.perfil_nombre_users img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.8rem 0.5rem;
    opacity: 0.9;
}
.perfil_nombre_users a{
    margin-top: 1.4rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.perfil_nombre_users a:hover{
    color: #bdbdbd;
}

.perfil_nombre_users button{
    margin-left: 0;
    padding: 0;
    height: 3rem;
    margin-top: 0;
    font-family: "Exo 2", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}

.perfil_nombre_users button:hover{
    color: #bdbdbd;
}

.users-comments .perfil_nombre_users .group2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group2 a{
    margin: 0;
}

.group2 button{
    padding: 0;
    margin: 0 0 0 2rem;
    font-family: "Exo 2", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}


button .image_report{
    height: 1.7rem;
    width: 1.7rem;
    border-radius: none;
}
/*---------------------------------------------------------------------------------------------------
DEJABO SECCION PELICULAS */

.contain_peliculas{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

aside {
    width: 11rem;
}


.navegation_peliculas{
    width: 80rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 14, 14);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.contain_peliculas .redirection{
    max-width: 9rem;
    min-width: 9rem;
    height: auto;
    background-color: red;
    border-radius: 1rem;
    padding: 1rem;
}

.section_movie{
    border-bottom: 0.1rem solid;
    border-color: white;
    border-bottom-right-radius: 1rem;
}

.title{
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    display: flex;
    align-items: baseline;
}


.title img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.title h2{
    display: inline-block;
    margin: 1rem 1rem 1rem 1.5rem;
    color: white;
}
.title .form_categori{
    display: inline-block;
    margin-left: 4rem;
    margin-top: 0.8rem;
}

.title .form_categori label{
    font-size: 1.6rem;
    color: white;
}

.form_categori{
    width: auto;
    height: 4rem;
}

.form_categori input[type="radio"]:hover{
    cursor: pointer;
}

.best_movie{
    display: flex;
    width: 100vh;
    height: 20rem;
    margin: 1rem 5rem 1rem 5rem;
}

.best_movie a{
    flex-grow: 1;
}

.best_movie a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best_movie a img:hover{
    cursor: pointer;
    width: 12rem;
    opacity: 1;
    filter: contrast(120%);
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3.5rem;
    width: 100%;
    margin-top: 1rem;
    background: #511111;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a{
    color: whitesmoke;
    font-size: 1.1rem;
}

.nav_header .mobile{
    display: none;
}

@media only screen and (max-width: 480px) {
    html{
        font-size: 65%;
        width: 100vw;
    }

    body{
        width: 100%;
    }

    .nav_header .mobile{
        display: flex;
    }

    header{
        font-weight: 400;
        height: 30%;
        width: 100%;
        background-image: none;
        background-color: #7D0707;
        display: block;
    }

    .nav_header{
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 2fr 1fr; 
        margin: 0;
    }

    .mobile{
        height: 40%;
        width: 40%;
        margin:0;
        background: none;
        padding: 0;
    }

    li.mobile.one{
        justify-self: start;
    } 

    li.mobile.two{
        padding-left: 0;
    }

    li.mobile.two a{
        font-size: 1.8rem;
    }

    li.mobile.four{
        justify-self: start;
    } 

    .two{
        height: auto;
        width: 80%;
        padding: 0;
        justify-self: start;

    }

    .three{
        height: 80%;
        width: 80%;
    }

    .three h3{
        margin: 0;
        font-family:"Exo 2", sans-serif;
        height: min-content;
    }

    li.mobile.one button,
    li.mobile.one img{
        width: 100%;
        height: 100%;
        background: none;
        padding: 0;
        border-radius: 0;
    } 
    
    li.mobile.one img{
        object-fit: scale-down;
    }

    li.mobile.four{
        padding: 0 0 0 0.8rem;
    }

    li.mobile.four img{
        width: 100%;
        height: 100%;
        padding: 0;
        object-fit: scale-down;
    }

    li.mobile.five button,
    li.mobile.five img{
        width: 100%;
        height: 100%;
        background: none;
        padding: 0;
        border-radius: 0;
    } 
    .five{
        height: 60%;
        width: 40%;
    }

    li.mobile.five img{
        object-fit: scale-down;
    }
    .six{
        height: 40%;
        width: 40%;
    }

    li.mobile.six button,
    li.mobile.six img{
        width: 100%;
        height: 100%;
        background: none;
        padding: 0;
        border-radius: 0;
    } 

    li.mobile.six img{
        object-fit: scale-down;
        height: 2.8rem;
    }

    .nav_header li:nth-child(n+7) {
        display: none;
    }


    li.mobile.five,
    li.mobile.six{
        padding: 0;
    }
      
    aside{
        display: none;
    }

    .section{
        font-size: 1rem;
    }

    section{
        width: 100vw;
    }

    .description_users{
        width: auto;
    } 

    .comments{
        width: 100vw;
        margin-left: 0;
    }

    .comments form{
        display: flex;
        margin: 2rem 0;
        height: 3.5rem;
        width: 98vw;
        border: 2px solid red;
        border-radius: 30px;
        font-size: 1rem;
    }

    .comments form input[type="text"]{
        border: none;
        margin: 0;
        outline: none;
    }

    .contain .navegations{
        margin-left: 0;
        margin-right: 0;
    }

/*DEBAJO PARA PELICULAS ----------------------------------------------------------------*/

    .title {
        margin: 1rem 0 2rem 0;
        display: flex;
        align-items: center;
    }

    .title h2 {
        display: inline-block;
        color: white;
    }

    .best_movie {
        display: flex;
        width: 100%;
        height: 20rem;
        margin: 1rem 0;
    }

    .nav_header.mobile.four p{
        width: 70%;
    }

    li.mobile.search {
        width: auto;
        align-self: start;
        justify-self: start;
    }

    li.mobile.search button,
    li.mobile.search img{
        width: 100%;
        height: 100%;
        background: none;
        padding: 0;
        border-radius: 0;
    } 

    li.mobile.search img{
        object-fit: scale-down;
    }

    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 1rem;
        background: #511111;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    footer a{
        padding-left: 1rem ;
    }
}

/*---------------------------------------------------------------------------------------------------
AQUI DEBAJO EMPIEZA FOOTER*/

.navegations_footer{
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: rgb(15, 14, 14);
    /*display: flex;
    flex-direction:column;
    justify-content: center;
    color: antiquewhite;*/
}

.h1_footer{
    color: red;
    font-size: 2.6rem;
    margin: 2rem 0 1rem 0;
    border-bottom: 2px solid #511111;
    padding-bottom: 0.8rem;
}

h2{
    color:white;
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
}

li{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

.sec_footer{
    margin-left: 1rem;
}