/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ad3636;
    background-image: url('../imagenes/borde.png');
    background-size: 12; /* Para cubrir todo el elemento */
    background-position: top center; /* Para centrar la imagen */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px; /* Añade espacio entre los elementos hijos */
    
}

.min_content {
    flex: 1; /* Ocupa todo el espacio restante */
    margin-right: 20px; /* Espacio entre este div y el siguiente */
}


.form {
    flex: 1; /* Ocupa todo el espacio restante */
    padding: 50px;
    border-radius: 200px;
    background-image: url('../imagenes/logo_img.jpeg');
    background-size: 400px 400px;
    background-position: center; /* Para centrar la imagen */
    width: 100px; /* Ancho deseado */
    height: 100px; /* Altura deseada */
}


.form2 {
    flex: 2; /* Ocupa todo el espacio restante */
    background-color: #f9f7f7;
    padding: 30px;
    border-radius: 10px;
   
}



button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    color: red;
}


