/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ad3636;
    background-image: url('../imagenes/borde.png');
    background-size: 12; /* Para cubrir todo el elemento */
    background-position: top center; /* Para centrar la imagen */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px; /* Añade espacio entre los elementos hijos */
    
}


.form {
    padding: 200px;
    border-radius: 600px;
    background-image: url('../imagenes/logo_img.jpeg');
    background-size: 400px 400px;
    background-position: center; /* Para centrar la imagen */

}


.form2 {
    
    background-color: #f9f7f7;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    position: relative;
    left: -10px;
}



button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    color: red;
}


