html{
    font-size: 62.5%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



body{
    margin: 0;
    padding: 0;
    
}

header{
    font-weight: 900;
    height: 13rem;
    width: 100%;
    background-image: url(../imagenes/fondo_peli.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

ul{
    max-width: 100%;
    height: 300 rem;
    display: flex;
    font-size: 2rem;
    margin: 1rem;
    padding: 0rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
}

li{
    color: white;
    text-decoration: none;
    padding: 0.8rem;
}

.section:hover{
    transform: scale(1.1);
    background-color: #7D0707;
}

.section {
    border-color: black;
    border-radius: 1.5rem;
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:white;
}

li:nth-child(1){
    flex-grow: 0.2;
}

li button{
    padding-right: 1rem;

}

li img{
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 2rem;
}

li button{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    border-radius: 2rem;
    padding: 0.8rem;
    border: none;
    background-color: black;
    color: white;
}

li button:hover{
    transform: scale(1.1);
    background-color: #7D0707;
}

.contain{
    max-width: 100%;
    height: 100vh;
    background-color: rgb(255, 127, 127);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegations{
    width: 75rem;
    height: 100vh;
    background-color: blue;
    
}


.perfil_nombre{
    width: 75rem;
    height: 5rem;
    background-color: yellow;
}

.perfil_nombre img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}

.image img {
    width: 30rem;
    height: 40rem;
    
}

.description{
    width: 75rem;
    height: 12rem;
    background-color: green;
}

.image{
    width: 75rem;
    height: 40rem;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments{
    width: 42rem;
}

.comments form input[type="text"]{
    width: 28rem;
    height: 3.5rem;
    font-family: "Exo 2", sans-serif;
    background: none;
    color: white;
    border-radius: 2rem;
    margin: 1rem ;
    padding-left: 2rem;
}

.comments form input[type="submit"]{
    height: 3.5rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 60rem;

}

form {
    width: 40rem ;
    height: 5rem;
}